h1 {
    text-align: center;
	color: whitesmoke
}

body {
	background-color: rgb(34 38 47);
}

#buttonsTable {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border: 1px solid black;
	border-collapse: collapse;
	color: white
}

th {
	font-size: 20px;
}

th, td {
	padding: 10px;   
}

#chartsTable td {
	text-align: center;
}

.btn {
	padding: 4px 20px;
	display: block;
	margin: auto;
	background-color: lightgrey;
}

.highlighted {
	background-color: #007bff;
	color: white;
}

#chartsTable {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

table {
	text-align: center;
}
